body {
    background-color: #806D64; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #6B5A52;
    margin: 0;
    margin-bottom: 1.82vw;
    line-height: 3.02vw;
    padding-top: 3.3vw;
    padding-bottom: 0.52vw;
    padding-right: 0.52vw;
    padding-left: 0.52vw;
}
p {
    margin: 0;
}
.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.46vw;
}
.image-row img {
    width: 23%;
    height: auto;
}
.block-red {
    background: #511B1D;
    border-radius: 3.13vw;
    margin-top: 1.82vw;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
}
.text1 {
    color: rgb(255, 255, 255); 
    font-size: 6.15vw; 
    font-family: Bacasime Antique; 
    text-align: center; 
    text-transform: uppercase;
}
.text2 {
    color: rgb(0, 0, 0); 
    font-size: 4.48vw; 
    font-family:  Caveat; 
    text-align: right;
}
.block-menu {
    color: rgb(255, 255, 255);
    font-size: 4.17vw;
    font-family: Cormorant;
    text-align: center;
    padding-bottom: 2.08vw;
    padding-top: 2.08vw;
}
.mn {
    transition: all 0.3s ease;
    display: inline-block;
}
.mn:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px white, 0 0 20px white;
    transform: scale(1.08);
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.block-green {
    background-color: #4B4C3E;
    border-radius: 3.13vw;
    padding-top: 4.17vw;
    padding-bottom: 4.17vw;
    position: relative;
}
.half1 {
    position: relative;
    width: 100%;
}
.bg-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.13vw;
    width: 32%;
}
.bg-image {
    border-radius: 3.13vw;
    opacity: 0.1;
    width: 100%;
    z-index: 2;
}
.block1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
}
.color-box1 {
    background-color: #454635;
    width: 65%;
    height: 100%;
    border-top-left-radius: 3.13vw;
    border-bottom-left-radius: 3.13vw;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
}
.main-image1 {
    opacity: 0.9;
    width: 42%;
    height: auto;
    z-index: 4;
    position: relative;
    margin-left: auto;
}
.main-image {
    transition: 0.3s;
}
.main-image:hover {
    opacity: 1;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.1),
        0 0 25px rgba(255, 255, 255, 0.08),
        0 0 40px rgba(255, 255, 255, 0.05);
}
.text012 {
    width: 43%;
    height: auto;
    font-family: Forum;
    color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 5%;
    padding-right: 5%;
    position: absolute;
    text-align: justify;
}
.text01 {
    font-size: 2.5vw;
    text-align: justify;
    z-index: 4;
    position: absolute;
}
.block2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    height: auto;
}
.color-box2 {
    background-color: #454635;
    width: 98%;
    height: 100%;
    border-top-right-radius: 1.56vw;
    border-bottom-right-radius: 1.56vw;
    position: absolute;
    right: 2%;
    z-index: 3;
}
.row1 {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.main-image2 {
    opacity: 0.9;
    width: 36%;
    height: auto;
    z-index: 4;
}
.text03 {
    font-size: 2.4vw;
    width: 56%;
    z-index: 4;
    position: absolute;
    right: 5%;
    height: auto;
    text-align: justify;
    font-family: Forum;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}
.half2 {
    margin-top: 3%;
    position: relative;
    height: auto;
    display: flex;
    align-items: stretch;
}
.bg-image3 {
    border-radius: 3.13vw;
    opacity: 0.1;
    width: 32%;
    height: auto;
    z-index: 2;
    position: relative;
    display: block;
}
.block3 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    height: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color-box34 {
    position: absolute;
    width: 100%;
    height: auto;
    
}
.main-image3 {
    opacity: 1;
    width: 32%;
    z-index: 4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.block4 {
    position: relative;
    
}
.color-box3 {
    background-color: #454635;
    border-radius: 3.13vw;
    position: absolute;
    z-index: 1;
    inset: 0;
    padding: 3%;
}
.text04 {
    font-size: 2.799vw;
    width: 100%;
    z-index: 4;
    position: relative;
    font-family: Forum;
    color: rgb(255, 255, 255);
    margin-right: 3%;
    margin-left: 3%;
    line-height: 1.35;
    text-align: justify;
}
.block5 {
    position: relative;
}
.color-box4 {
    background-color: #473434;
    border-radius: 1.56vw;
    position: absolute;
    z-index: 1;
    inset: 0;
    padding: 3%;
}
.text05 {
    font-size: 3vw;
    width: 100%;
    z-index: 4;
    position: relative;
    font-family: Forum;
    color: rgb(255, 255, 255);
    margin-right: 3%;
    margin-left: 3%;
    line-height: 1.2;
    text-align: justify;
}
.block-services {
    position: relative;
}
.block001 {
    background-color: #473434;
    border-top-left-radius: 1.56vw;
    border-bottom-left-radius: 1.56vw;
    width: 70%;
    height: 7.81vw;
    margin-left: auto;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    transition: 0.3s;
}
.block001:hover {
    transform-origin: right;
    transform: scale(1.01);
}
.block001:hover .text001 {
    text-shadow: 0 0 10px white;
}
.text001 {
    font-size: 3.33vw;
    z-index: 4;
    opacity: 0.8;
    font-family: Bona Nova SC;
    color: rgb(255, 255, 255);
    padding-left: 3%;
    transform: translateY(50%);
    transition: 0.3s;
}
.block-beige {
    background-color: #684F4F;
    border-radius: 3.13vw;
    padding-top: 4.565vw;
    padding-bottom: 4.565vw;
    position: relative;
}
.row-bg {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: stretch;
}
.block-bg {
    position: relative;
    width: 40%;
    display: flex;
    align-items: stretch;
}
.color-box00 {
    background-color: #594343;
    border-bottom-left-radius: 3.13vw;
    border-bottom-right-radius: 3.13vw;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main-image4 {
    opacity: 0.8;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}
.textblock {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.text002 {
    font-size: 2.5vw;
    z-index: 4;
    font-family: Forum;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.column-bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}
.color {
    background-color: #552937;
    border-top-left-radius: 1.56vw;
    border-bottom-left-radius: 1.56vw;
    opacity: 0.6;
    padding: 3%;
    transition: 0.3s;
    transform-origin: right;
}
.color:hover {
    transform: scale(1.02);
}
.color:hover .txt {
    text-shadow: 0 0 10px white;
    transform: scale(1.01);
}
.txt {
    font-size: 2.8vw;
    width: 100%;
    z-index: 4;
    font-family: Forum;
    color: rgb(255, 255, 255);
    text-align: left;
    transition: 0.3s;
}
.blockred {
    background-color: #511B1D;
    border-radius: 3.13vw;
    margin-top: 4vw;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    opacity: 0.8;
    padding-top: 2%;
    padding-bottom: 2%;
}
.textred {
    color: rgb(255, 255, 255); 
    font-size: 4vw; 
    font-family: Bona Nova SC; 
    text-align: center; 
    transition: 0.3s;
}
.textred:hover {
    text-shadow: 0 0 10px white;
    transform: scale(1.05);
}
.rowbrown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
.brown {
    background-color: #473434;
    border-radius: 3.13vw;
    width: 25%;
    height: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    transition: 0.3s;
}
.brown:hover {
    background-color: #594343;
    transform: scale(1.05);
}
.brown:hover .txt0 {
    text-shadow: 0 0 10px white;
    transform: scale(1.05);
}
.txt0 {
    font-size: 4vw;
    width: auto;
    text-align: center;
    opacity: 0.8;
    font-family: Forum;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
